/* provides the visualisation style for all html pages*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#superheadline {
    font-size: 10vh;
}

.box{
    margin: 10px 0px;
    padding: 12px 15px;
    width: 100%;

    box-shadow: 0px 3px 7px 1px #0000001f;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3px;
    border-radius: 6px;

    background-color: white;
    color: darkgrey;
}

.box li{
    color: darkgrey;
}
.box p{
    color: darkgrey;
}

.box span{
    color: darkgrey;
    float: right;
}

.box pre{
    color: darkgrey;
}


.box input{
    width: 30px;
    }
.box label{
    color:darkgrey;
    }

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(166.66deg, rgb(31, 117, 206) 4.62%, rgb(23, 121, 207) 4.62%, rgb(116, 75, 196) 86.29%);
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
}


.form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px 0px;
    padding: 12px 15px;
    width: 100%;
    border: 0px solid;
    box-shadow: 0px 3px 7px 1px #0000001f;
    outline: none;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3px;
    border-radius: 6px;
    color: gray;

}

input:focus {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    border-left: 1px solid rgba(0, 0, 0, 0.036);
    border-right: 1px solid rgba(0, 0, 0, 0.036);
    border-top: 1px solid rgba(0, 0, 0, 0.036);
    box-shadow: none;
}
button {
    margin: 5px 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0px;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    transform: scale(1);
    background: #0089ff;
    color: white;
}

button:active {
    transform: scale(.9);
}

ol{
    padding-left: 20px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightgrey;
}

.message{
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
}
.message.success{
    color: #36ff00;
}
.message.error{
    color: #ff0000;
}

.button {
    margin: 5px 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0px;
    border: 1px solid transparent;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    transform: scale(1);
    background: #0089ff;

}

.parallel{
    width: 245px;
    float:left;
}

.left-margin {
    margin: 2px 0 2px 5px;
}

.right-margin {
    margin: 2px 5px 2px 0;
}

.wrapper-parallel{
    width: 500px;
}

.radio-button-group {
    width: 100%;
    clear: both;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.radio-button-group p {
    display: none;
}
.radio-button-group input {
    display: none;
}
.radio-button-group label {
    float: left;
    width: 50px;
    text-align: right;
    padding: .5em 1em;
    cursor: pointer;

    border: 1px solid darkgrey;
    cursor: pointer;

    text-transform: uppercase;
    border-radius: 10px;

    margin: 5px 2px;

    color: darkgrey;
    background-color: white;
}

.radio-button-group input:checked + label {
    background-color: #0089ff;
    color: white;
    border-color: transparent;
}

.errorlist *{
    color: yellow;
}


table {
    table-layout:fixed;
}

td:first-of-type {
    width: 60px;
    overflow: hidden;
}
td:last-of-type {
    width: 216px;
}

#show_users {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px;
    background: #744bc4;
}

#kick_label {
    position:relative;
    bottom:25px;
    left:50px;
}

#add_button {
    position:relative;
    top:23px;
    height:42px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;

    background: white;
    color: darkgrey;

    text-align: left;
    white-space: pre-line;

    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 2px;

    width: fit-content;
    top: -5px;
    left: 105%;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}