<!-- a html base template which provides a standard header for all pages and loads the css template -->
<!DOCTYPE html>

<html lang="de">
  <head>
      <meta charset="UTF-8">
      <title>StadtLandFluss</title>

      {% load static %}
      <link rel="stylesheet" href="{% static 'stadtlandfluss/style.css' %}">
  </head>
  <body>
    <h1 id="superheadline">Stadt Land Fluss</h1>

    <!-- page content is filled in automatically -->
    {% block content %}

    {% endblock %}
  </body>
</html>