<!-- provides kick page (shows players with state), redirects to lobby.delete_user-->
{% extends 'header.html' %}

{% block content %}

    <div class="form">
        <form action="{% url 'core:lobby.delete_user' view.kwargs.gameid %}" method="post" >
        {% csrf_token %}
        <legend><h1>Who do you wanna kick?</h1></legend>
        <!-- ------------------------ Players and States -------------------- -->
        <fieldset class="box">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <!-- Loops through player handlers and makes radiobutton group with player and state -->
            {% for user in handlers %}
                {% if user.player == user.game.admin %}
                {% else %}

                <input type="radio" name="user" id="user{{ forloop.counter }}" value="{{ user.player.username}}">
                <!-- ------------------------ Updatable Block -------------------- -->
                <div class="updatable" id="kick_label">
                    <label for="user{{ forloop.counter }}">{{ user.player.username }} ({{user.get_players_state_related}})</label><br>
                </div>

                {% endif %}
            {% endfor %}
        </fieldset>

        <input type="submit" value="Kick User" class="button"/>
        </form>
    </div>

    {% include 'refresher.html' %}

{% endblock %}
