<!-- provides a form for lobby creation -->
{% extends 'header.html' %}

{% block content %}
    <form action="/create/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="Create a Game" class="button">
    </form>
{% endblock %}