<!-- provides a form to join an existing lobby -->
{% extends 'header.html' %}

{% block content %}
    <form action="/join/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" value="Join" class="button">
    </form>
{% endblock %}
