<!-- provides lobby page (shows players and categories, start round, add categories, kick players, ...) -->
{% extends 'header.html' %}

{% block content %}

    <div class="form">
        <h4>Lobby ID</h4>
        <!-- ------------------------ LobbyID (Copy ID or invitation link) -------------------- -->
        <div class="box">
            <p id="copy_lobby_id">{{ view.kwargs.gameid }}</p>
        </div>
        <div class="parallel-wrapper">
            <div class="parallel right-margin">
                <button onclick="copyText('{{ view.kwargs.gameid }}')">Copy Lobby ID</button>
            </div>
            <div class="parallel left-margin">
                <button onclick="copyInvite('{% url 'core:game.join' %}', '{{ view.kwargs.gameid }}')">Copy invitation link</button>
            </div>
        </div>

        <!-- ------------------------ Updatable Block -------------------- -->
        <div class="updatable">
            <!-- ------------------------ Players and Score -------------------- -->
            <div class="wrapper-parallel">
                <div class="parallel right-margin">
                    <h4>Players</h4>
                    <div class="box">
                        <ul>
                            {% for handler in handlers %}
                                <li>
                                    {{ handler.player.username }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="parallel left-margin">
                    <h4>Score</h4>
                    <div class="box">
                        <ul>
                            {% for handler in handlers %}
                                <li>
                                    {{ handler.total_score }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ------------------------ Categories -------------------- -->
            <h4>Categories </h4>
            <div class="box">
                <ul>
                    {% for cat in categories %}
                        <li>
                            <pre>{{ cat }}</pre>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        {% if user_is_game_admin %}
            <form action="{% url 'core:lobby.kick' view.kwargs.gameid %}" >
                <input type="submit" id="show_users" value="Kick User" class="button"/>
            </form>

            <!-- admin has form to add categories to game -->
            <form method="post">
                {% csrf_token %}
                <div class="parallel-wrapper">
                    <div class="parallel right-margin">
                        {{ form.as_p }}
                    </div>
                    <div class="parallel left-margin" >
                        <input type="submit" value="Add" class="button" id="add_button">
                    </div>
                </div>
            </form>
        {% endif %}

        <div class="updatable">
            <!-- redirects players to play page if round has started -->
            {% if player_answers_per_round %}
                <meta http-equiv="refresh" content="0; url= {% url 'core:lobby.play' player_answers_per_round.0.round.pk %}"/>
            {% endif %}


            {% if everyone_has_voted %}
                {% if categories %}
                    {% if user_is_game_admin %}

                    <!-- admin has button to start round if everyone has voted -->
                    <form action="{% url 'core:lobby.start_round' view.kwargs.gameid %}" >
                        <input type="submit" id="start_round_button" value="Start a Round" class="button"/>
                    </form>
                    {% else %}
                        <p>Wait for the admin to start a round...</p>
                    {% endif %}
                {% else %}
                    <p>You can't play without any categories...</p>
                {% endif %}

                {% if game_ended %}

                        <!-- redirects players to game-end page if everyone has voted and game ended-->
                        <meta http-equiv="refresh" content="0; url= {% url 'core:lobby.results' view.kwargs.gameid %}"/>
                {% endif %}
            {% else %}
                <p>Wait till everyone has voted or let admin kick them</p>
            {% endif %}
        </div>
    </div>

    {% include 'refresher.html' %}
    {% load static %}
    <script language="javascript" type="text/javascript" src="{% static 'stadtlandfluss/copybutton.js' %}"></script>

{% endblock %}
