<!-- provides play page (form with categories) -->
{% extends 'header.html' %}

{% block content %}
    <!-- implement round time -->
    <h3> {{ round.letter }} </h3>

    <!-- countdown controlled by refresher.js -->
    <p class="countdown">{{ game.round_max_length }}</p>

    <!-- form can be auto-submitted by refresher.js on server request -->
    <form method="post" class="autosubmit-form" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit answers" class="button">
    </form>

    {% if round.finished %}
        <!-- is only part of page if round is over and forces auto-submit of play form -->
        <div class="autosubmit-requester">First player finished!</div>
    {% endif %}

    {% include 'refresher.html' %}
{% endblock %}
