<!-- provides game-end page with animation and ranking -->
{% extends 'header.html' %}

{% block content %}
    <!-- pop-up alert for winner with animation -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        function winnerAlert() {
            let title = {{winner_count}}==1 ? "WINNER IS " : "WINNERS ARE ";
            {% for player in winner %}
                title += "{{player.player.username}} ";
            {% endfor %}
            Swal.fire({
                title: title,
                color: '#716add',
                html:
                    'Good Job',
                    showCloseButton: true,
                    showCancelButton: false,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> GG WP!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                backdrop: `
                    {% load static %}
                    url("{% static 'stadtlandfluss/zaumvyft_Confetti.gif' %}")
                    center
                    no-repeat
                  `
            })
        }
        window.onload = winnerAlert;

    </script>

    {% if winner_count > 1 %}
    <h2>Your Winners are:</h2>
    {% else %}
    <h2>Your Winner is:</h2>
    {% endif %}

    <!-- table for final ranking of players -->
    <div class="form">
        <h3 style="text-align:center;">{% for player in winner %}
            {{player.player.username}}
        {% endfor %}</h3>
        <h2>Ranking: </h2>
        <div class="box">

            <ol>
                {% for handler,rank in ranks %}
                    <li value="{{rank}}">
                        <p>
                            {{ handler.player.username }}
                            <span>
                                {{ handler.total_score }}
                            </span>
                        </p>
                    </li>
                {% endfor %}
            </ol>

        </div>

        <!--<button type="button" onclick="newRound()"> <a>New Round</a></button>-->

    </div>

{% endblock %}