<!-- provides vote page (radio button group for each answer on category) -->
{% extends 'header.html' %}

{% block content %}
    <h2>Rank your answers:</h2>
    {% load template_extras %}
    <form method="post">
        {% csrf_token %}
        <!-- table with category, answer and radio button group for voting in each row -->
        <table>
            <!-- zips categories/answers with radio button group for better iteration -->
            {% for cat_ans_inf, field in categories_answers_infos|zipper:form %}
                <tr>
                    <td><p>{{ cat_ans_inf.0 }}:</p></td>
                    <td><div class="box tooltip">
                        {{ cat_ans_inf.1.0 }}
                        <span class="tooltiptext updatable">{{ cat_ans_inf.1.1 }}</span>
                    </div></td>
                    <td>
                        <div class="radio-button-group">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type = "submit" value = "Submit" class="button">
        {{ form.non_field_errors }}
    </form>

    {% include 'refresher.html' %}
{% endblock %}