<!-- provides landing page (allows to join/create a lobby) -->
{% extends 'header.html' %}

{% block content %}
    <div class="form">
        <form action="{% url 'core:game.join' %}" >
                <input type="submit" value="Join a Game" class="button"/>
            </form>
        <form action="{% url 'core:game.create' %}" >
                <input type="submit" value="Create a Game" class="button"/>
            </form>
    </div>
{% endblock %}